:root {
  --main-color: #c2c4c6;
  --main-bg-color: #22272b;
}

body {
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  width: 360px;
  padding: 10px;
  overflow: hidden;
}

.hidden {
  display: none;
}

button {
  width: 100%;
  margin: 1px 0;
}

div.paramRow {
  display: flex;
}

div.paramName {
  width: 200px;
  white-space: nowrap;
}

input.color {
  background-color: #141414;
  height: 26px;
  border: none;
}
input.color::-webkit-color-swatch-wrapper {
  padding: 0px;
}

div.colorValue {
  font-family: monospace;
  text-transform: uppercase;
  background-color: white;
  display: grid;
  align-items: center;
  color: black;
  height: 22px;
  width: 8ch;
  margin-left: 5px;
  border: solid 2px #141414;
  padding-left: 5px;
}

p#saveStatus {
  text-align: center;
  color: white;
  background-color: #475068;
  width: 100%;
  min-height: 22px;
  margin: 1px 0px 1px 0px;
}

.paramContainer .paramContainer {
  border-left: 2px solid var(--main-color);
  padding: 1px 1px 1px 5px;
  margin-left: 5px;
}

.badLinkList {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  margin-left: 6px;
}

svg.pencil {
  width: 16px;
  height: 16px;
  border: outset 1px;
  padding: 2px;
  fill: var(--main-color);
  cursor: pointer;
}

svg.approve {
  fill: green;
  cursor: pointer;
}

svg.close {
  fill: red;
  cursor: pointer;
}

.backShadow {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #00000080;
}

.fullScrInpCont {
  position: fixed;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  z-index: 20;
  background-color: var(--main-bg-color);
}

.fullScrInpCont > .inputText {
  position: absolute;
  border: solid 5px gray;
  color: black;
  background-color: white;
  width: 90%;
  height: calc(100% - 42px);
  left: 5%;
}

.buttonCont {
  bottom: 2px;
  position: absolute;
  right: 7px;
  width: 74px;
  height: 26px;
  display: flex;
  justify-content: space-between;
}

.loading-delayed {
  visibility: hidden !important;
}